Repository SMLYFM/SMLYFM.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, prettier --write

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{js,css}": [
    "prettier --write"
  ],
  "*.{yml,yaml,json}": [
    "prettier --write"
  ]
}

docs: 更新README和优化工具脚本
  README.md
  tools/cleanup.sh
  tools/create-markdown.sh
  tools/deploy.sh
  tools/new-post.sh
  tools/preview.sh
Due: markdownlint --fix

docs:更新link页面科学空间
  source/_data/link.yml
Due: prettier --write

feat: 添加现代化主题切换按钮组件
  _config.butterfly.yml
  source/css/modern/index.css
  source/css/modern/theme-toggle.css
  source/js/components/theme-toggle.js
Due: prettier --write

feat: 博客综合增强 - 20项功能改进
  .markdownlint.json
  _config.butterfly.yml
  source/css/modern/code-enhance.css
  source/css/modern/index.css
  source/css/modern/math-enhance.css
  source/css/modern/reading-progress.css
  source/css/modern/rightside-enhance.css
  source/css/modern/shortcuts-help.css
  source/css/modern/theorem-cards.css
  source/js/components/code-enhance.js
  source/js/components/keyboard-shortcuts.js
  source/js/components/math-copy.js
  source/js/components/reading-progress.js
  source/resources/index.md
  source/timeline/index.md
Due: markdownlint --fix, prettier --write

feat: 完善博客功能 - Giscus评论、文章系列、数学工具
  _config.butterfly.yml
  source/_data/series.yml
  source/css/modern/index.css
  source/css/modern/math-tools.css
  source/css/modern/series.css
  source/js/components/math-tools.js
Due: prettier --write

docs: 更新 README.md 添加 bugfix 文档链接
  README.md
Due: markdownlint --fix

feat: 🐳 Docker/Podman 容器化增强 & Makefile 功能丰富
  Dockerfile.dev
  Makefile
  docker-compose.dev.yml
  podman/quadlet/smlyfm-blog.container
  scripts/container-helper.sh
Due: prettier --write

fix: 修复 ZFC 集合论文章中的数学公式渲染问题
  source/_posts/zfc-set-theory.md
Due: markdownlint --fix

fix: 移动 container-helper.sh 到 tools 目录
  Makefile
  tools/container-helper.sh
Due: none

docs: 添加数学公式写作注意事项到 MAKEFILE.md
  docs/MAKEFILE.md
Due: markdownlint --fix

docs: 添加新手部署指南 GETTING_STARTED.md
  docs/GETTING_STARTED.md
Due: markdownlint --fix

docs: 大幅扩展新手部署指南
  docs/GETTING_STARTED.md
Due: markdownlint --fix

feat: 添加文章 hash 追踪功能
  .article-hashes
  Makefile
  tools/article-hash.sh
Due: none

feat: 增强 make list 命令显示 hash 状态
  Makefile
Due: none

feat: 添加文章 ID 管理系统
  .article-ids
  Makefile
  tools/article-id.sh
Due: none

docs: 更新 README.md 添加文章管理系统文档
  README.md
Due: markdownlint --fix

feat: 新增文章导出/批量操作/归档/备份功能
  Makefile
  README.md
  docs/MAKEFILE.md
  tools/article-archive.sh
  tools/article-backup.sh
  tools/article-batch.sh
  tools/article-export.sh
Due: markdownlint --fix

docs: 完善 Giscus 评论系统配置文档
  docs/GETTING_STARTED.md
Due: markdownlint --fix

feat: 首页新增 4 个组件丰富页面内容
  source/css/modern/cards.css
  source/js/components/quote.js
  themes/butterfly/layout/index.pug
Due: prettier --write

feat: 新增 3 篇高质量技术文章
  source/_posts/pinns-deep-dive.md
  source/_posts/pinns-variants-advances.md
  source/_posts/tikz-advanced-techniques.md
Due: markdownlint --fix

feat: 大幅扩展友链页面内容
  source/_data/link.yml
Due: prettier --write

大幅度更新link🔗
  source/_data/link.yml
Due: prettier --write

feat: LaTeX 渲染增强 & 实分析文章
  _config.butterfly.yml
  _config.yml
  package-lock.json
  package.json
  source/_posts/littlewood-three-principles.md
  source/_posts/pinns-deep-dive.md
  source/_posts/pinns-variants-advances.md
  source/_posts/zfc-set-theory.md
  source/css/modern/cards.css
  source/css/modern/index.css
  source/css/modern/katex-enhance.css
  source/css/modern/math-professional.css
  source/css/modern/theorem-env.css
  source/js/components/equation-numbering.js
  source/js/components/katex-macros.js
  source/js/components/math-copy.js
  source/js/components/mathjax-config.js
  themes/butterfly/layout/includes/third-party/math/mathjax.pug
Due: markdownlint --fix, prettier --write

First commit
  placeholder
Due: none

new-custom: ## 自定义创建 (make new-custom FILE=my-post TITLE=中文标题)
  Makefile
Due: none

修复文档表格格式
  Makefile
  docs/MAKEFILE.md
Due: markdownlint --fix

Add post: functions vs methods, update docs and hashes
  .article-hashes
  docs/MAKEFILE.md
  source/_posts/functions-vs-methods-objects-vs-instances.md
  source/_posts/littlewood-three-principles.md
  source/_posts/pinns-deep-dive.md
  source/_posts/pinns-variants-advances.md
  source/_posts/tikz-advanced-techniques.md
  source/_posts/zfc-set-theory.md
Due: markdownlint --fix

修改文章functions-vs-methods-objects-vs-instances.md
  .article-hashes
  source/_posts/functions-vs-methods-objects-vs-instances.md
Due: markdownlint --fix

push:上传文章 (修复表格格式)
  source/_posts/OpenAI-Codex-Integration-in-Zsh.md
Due: markdownlint --fix

更新文章的hash值
  .article-hashes
  source/_posts/OpenAI-Codex-Integration-in-Zsh.md
  source/_posts/functions-vs-methods-objects-vs-instances.md
Due: markdownlint --fix
